.table_main::-webkit-scrollbar {
    width: 0.4rem;
    display: none;
}

.table_main::-webkit-scrollbar-thumb {
    background: #9f9f9f;
    border-radius: 10px;
    visibility: hidden;
}

.table_main:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
.table_main:hover::-webkit-scrollbar {
    display: block;
}


/* table th {
    border-bottom: 2px solid #ccc;
} */
